
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="bi bi-music-note mx-3"></i>TP3 Application Angular</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="accueil">Accueil (Liste des musiques)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="savemusic">Enregistrer une musique</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
