<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Musiques
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Rechercher une musique..." [(ngModel)]="searchControl" (ionInput)="handleInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Musiques
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header class="ion-padding-bottom">
      Liste de musiques
    </ion-list-header>
    <ng-container *ngFor="let m of chansonsfilter">
      <ion-item [routerLink]="['/detailsmusic', m.id]" class="ion-justify-content-center ion-tappable">
<!--        <ion-thumbnail>-->
          <ion-img src="{{m.pochette}}" style="height: 75px; width: 75px"></ion-img>
<!--        </ion-thumbnail>-->
        <ion-label class="ion-padding-start"><strong>{{m.titre}}</strong><br/><br/><span>Artiste : {{m.nomArt}}</span></ion-label>
        <audio [src]="m.url" slot="end" class="ion-color-warning ion-padding-vertical" controls controlslist="nodownload nofullscreen noremoteplayback" style="height: 85px; width: 225px"></audio>
      </ion-item>

    </ng-container>

  </ion-list>

</ion-content>
