<footer class="flex-shrink-0 py-4 bg-light card-footer">
  <div class="container text-center">
    <small>Copyright &copy; 2023 Dimogne TEHEM ING4ISI - Tél : (+237 6 96 66 08 24)</small>
  </div>
</footer>
