<main class="bg-light p-5">
<div class="text-center mb-4 mt-3">
  <i class="bi bi-music-note-beamed h1"></i>
  <h1 class="h3 mb-3 font-weight-normal">Ici, vous pouvez modifier une musique</h1>
</div>
  <div *ngIf="updateSucceed" class="alert alert-success container" role="alert">
    La musique a été modifiée avec succès !
  </div>
  <div *ngIf="updateFailed" class="alert alert-danger container" role="alert">
    Un problème est survenu lors de la modification de la musique !
  </div>


<div class="container mb-5">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" method="post" *ngFor="let t of test">
    <h2>Nouvelle musique</h2>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <label for="titre">Titre de la musique:</label>
          <input class="form-control" placeholder="{{t.titre}}" type="text" formControlName="titre" id="titre" required>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="nomArt">Nom de l'artiste :</label>
          <input class="form-control" placeholder="{{t.nomArt}}" type="text" formControlName="nomArt" id="nomArt" required>
        </div>
      </div>
      <!--  col-md-6   -->
    </div>


    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <label for="featArt">Artistes collaborateurs :</label>
          <input class="form-control" placeholder="{{t.featArt}}" type="text" formControlName="featArt" id="featArt" required>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">

        <div class="form-group">
          <label for="pochette">Pochette de l'album :</label>
          <input class="form-control" #imgFile type="file" id="pochette" formControlName="pochette" accept="image/png, image/jpeg" required/>

        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->


    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <label for="audioFile">Fichier audio:</label>
          <input class="form-control" #audioFile type="file" id="audioFile" formControlName="audioFile" accept=".mp3, .wav" required>
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="prix">Prix:</label>
          <input class="form-control" placeholder="{{t.prix}}" type="number" id="prix" formControlName="prix" min="0" required/>
        </div>

      </div>
      <!--  col-md-6   -->
    </div>

    <div class="row mb-5">
      <!--  col-md-6   -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="lyrics">Lyrics:</label>
          <textarea class="form-control" placeholder="{{t.lyrics}}" formControlName="lyrics" id="lyrics" rows="3" required></textarea>
        </div>

      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->
    <div class="row mb-3 justify-content-center">
      <button type="submit" class="btn btn-primary w-25">Enregistrer</button>
    </div>


  </form>
</div>
</main>
