<main>

  <div class="text-center mb-4 mt-3 text-light">
    <i class="bi bi-music-note-list h1"></i>
    <h1 class="h3 mb-3 font-weight-normal">Vous pouvez modifier et supprimer des musiques dans la liste ci-dessous</h1>
  </div>


  <div class="my-3 p-5 bg-white rounded box-shadow container">
    <h2 class="border-bottom border-gray pb-2 mb-2">Liste de musiques</h2>
    <div *ngFor="let m of all" class="media text-muted pt-3 col-md-12 row border-bottom pb-3 mb-1">
      <div class="col-md-2">
        <img class="mr-2 rounded" style="width: 165px; height: 165px;" [src]="ajusterUrlPochette(m.pochette)" data-holder-rendered="true">
      </div>
      <div class="media-body pb-3 mb-0 small lh-125 border-gray col-md-10 row">
        <div class="d-flex justify-content-start align-items-center col-md-5">
          <strong class="text-gray-dark h4">{{m.titre}}</strong>
        </div>
        <div class="d-flex justify-content-end align-items-center col-md-7">
          <div>
            <a class="btn-primary" [routerLink]="['/updatemusic', m.id]"><i class="bi bi-pencil-square h3 mx-2"></i></a>
          </div>
          <div>
            <a class="mx-3 link-danger" (click)="deleteMusic(m.id)"><i class="bi bi-trash-fill h3"></i></a>
          </div>
        </div>
        <h5 class="d-block">Artiste : {{m.nomArt}}</h5>
        <h6 class="d-block">Artistes collaborateurs : {{m.featArt}}<span *ngIf="m.featArt == ' '">Aucun featuring</span></h6>
        <h6 class="d-block">Date de sortie : {{m.releasedDate}}</h6>
        <div class="d-flex justify-content-end">
          <span class="h5 mx-4">Prix : {{m.prix}} FCFA</span>
        </div>
      </div>
    </div>
  </div>

</main>


