<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vue détaillée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informations détaillées</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let m of music">
    <ion-card-header>
      <ion-img src="{{m.pochette}}"></ion-img>
    </ion-card-header>
    <ion-card-title class="ion-padding-horizontal">{{m.titre}}</ion-card-title>
    <ion-card-subtitle class="ion-padding-horizontal">{{m.nomArt}} <span *ngIf="m.featArt !== ' '">feat. {{m.featArt}}</span></ion-card-subtitle>
    <ion-card-subtitle class="ion-padding-horizontal">Date de sortie : {{m.releasedDate}} </ion-card-subtitle>
    <ion-card-content>
      <div>
        <ion-text class="ion-float-end ion-text-xl-end">PRIX : <b>{{m.prix}} FCFA</b></ion-text>
      </div>
    </ion-card-content>
    <ion-grid class="ion-margin-vertical">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button color="warning">Acheter cette chanson</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-title class="ion-padding">Lyrics</ion-card-title>
      <ion-card-content>
        <div *ngIf="!showFullLyrics">
          {{ m.lyrics | slice:0:250 }}... <!-- Afficher les 250 premiers caractères -->
          <a (click)="showFullLyrics = true">Voir plus</a>
        </div>
        <div *ngIf="showFullLyrics">
          {{ m.lyrics }}
          <a (click)="showFullLyrics = false">Voir moins</a>
        </div>

      </ion-card-content>
    </ion-card>

  </ion-card>
</ion-content>
